
nav {
    display:flex ;
    background-color:#74E291;
    border-radius: 10px;
    height: 8vh;
    font-size: x-large;
}

.Logo{
    position: relative;
    width:350px;
    height: 55px;
    left: 5%;
    top: 0;
    padding-right: 150px;
}

nav ul {
    /* display:flex ; */
    justify-content: space-between; 
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: darkgreen;
    border-radius: 20px;
    background-color:#F6995C;
      transition: 0.2s;
}

.navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #F6995C;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #45a049;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #F6995C;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.icon{
    padding: 12px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 25px;
    border-radius: 5vh;
  }
p{
  position: relative;
    top: 105%; 
    font-size: x-large;
    left: 1%;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #65B741;
    text-align: center;
    margin: 50px 150px 0px;
}

.goto-button{
    display: inline-block;
    margin-top: 0vh;
    margin-left: 95vh;
    margin-right: 80vh;
    margin-bottom: 0vh;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
    width: 150px;
}

.goto-button:hover {
    background-color: #45a049;
    background-color:#d9e411;
      transition: 0.4s;
}

.buttonMarket{
    margin: 100px auto 50px;
}


footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 70%;
    height: auto;
    text-align: center;
    font-size: x-large;
    padding: 20px;
    background-color: #74E291;
    color: white;
  }

  footer{
    text-align: center;
    font-size: x-large;
    padding: 12px;
    background-color: #74E291;
    color: white;
  }